@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/* Global Variables */
:root {
    --dark-primary:#1b1f24;
    --blue-primary:#12bdff;
    --prime-hover:#0c8ec2;
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

header{
    background-color: var(--dark-primary);
    padding : 20px;
    color:#fff;

    display:flex;
    /* justify-content depends on flex property 
    space-around == equal splitting of spaces
    space-between == equal splitting of spaces between the center alone
    space-evenly == equal splitting of spaces between the center and the edges */
    justify-content: space-evenly;
    align-items:center;
}
header .logo{
    color:var(--blue-primary);
    font-weight: bold;
    letter-spacing: 2px;
}
header ul{
    display: flex;
    list-style: none;
}
header ul li{
    margin-right: 20px;
}
header ul li a{
    color:#fff;
    text-decoration: none;
    font-weight: 600;
}
header ul li a:hover{
    color:var(--blue-primary);
}
/* Section Image Homepage */
section.img-sector{
    background-color: var(--dark-primary);
    color: #fff;
    display:flex;
    align-items: center;
    padding:20px 120px 0px 240px;
}
.img-sector-title{
    font-size: 48px;
    font-weight:900;
}
.img-sector-title > span{
    color:var(--blue-primary);
}
.img-sector-descr{
    color: #bdbfbf;
}
.social-icons{
    margin: 20px 0;
}
.social-icons li{
    margin-right: 20px;
}
ul.social-icons{
    list-style: none;
    display: flex;
}
.social-icons li>a{
    text-decoration: none;
    color: #fff;
}
.social-icons li a > i.fa-facebook:hover{
    color:#1877f2;
}
.social-icons li a > i.fa-linkedin:hover{
    color:#0072b1;
}
.social-icons li a > i.fa-instagram:hover{
    color:#c13584;
}
.social-icons li a > i.fa-github:hover{
    color: #808080;
}
.act-buttons button{
    margin-right: 20px;
}
/*buttons styling with CSS*/

.btn{
    padding:10px 20px;
    border-radius: 2px;
    border: none;
    cursor: pointer;
}
.btn.btn-prime{
    background-color: var(--blue-primary);
    font-weight: 600;
    color:#fff;
    border-radius: 4px;    
}
.btn.btn-prime:hover{
    background-color:var(--prime-hover);
}
.btn-dark-outlined{
    background-color: var(--dark-primary);
    border: 1px solid var(--blue-primary);
    color:var(--blue-primary);
    border-radius: 5px;
    font-weight: 600;
}
.btn-dark-outlined:hover{
    cursor:pointer;
    background-color: var(--blue-primary);
    color: #fff;
}